MONGODB_USERNAME=arqui226
MONGODB_PASSWORD=lab2026
MONGO_PORT=27017
MONGO_DB_NAME=parking
MONGO_DRIVER=mongodb
MONGO_HOST=mongodb
MQTT_PORT=1883
MQTT_WBS=9001
JWT_SECRET_KEY=Estakeydebeserdificil
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
MQTT_BROKER=mosquitto
